<div class="main-items">
    <p class="back-link"><a href="index.php">Home</a><span><a href="#"> / My List</a></span></p>
    <div class="create-menu-item">
        Create new menu item
    </div>

<!--Models-->        
    <add-list-menu-item></add-list-menu-item>  

</div>
<aside class="side-menu hide-on-small asideMenu">
    <div class="profile-lists-menu">
  
        <div class="add-menu-lists-item" ng-if="myListMenuData.length < 10 || !myListMenuData">
            <span class="add-external-menu-item" id="addLinksMenuEl"><i class="fa fa-plus" aria-hidden="true"></i> Add menu item</span>
        </div>  
    </div>
    <div id="g-ads-rb">
        
    </div>
</aside>