<div class="lists-menu-item bg-trans popup-container hide-popup" id="add-lists-menu-item">
    <div class="centar text-container" id="lists-menu-item">
        <span class="message">Add new list</span>
        <form ng-submit="addListsMenuItem(listsMenuItem)" 
              name="addListMenuForm" 
              class="clear-fix"
              autocomplete="off"  
              novalidate>

            <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
            <input style="display:none" type="text" name="fakeusernameremembered1"/>  

            <input type="text" 
                   placeholder="title" 
                   class="inputs" 
                   id="lists-menu-title" 
                   ng-model="listsMenuItem.name" 
                   name="title"
                   ng-minlength="2"
                   ng-maxlength="372"
                   required>

            <div class="lists-menu-item-errors">
            <p ng-show="listsMenuItem.name == undefined &&
                        submitedAddNewMenuItem">Please enter a valid title.</p>
            <p ng-show="menuTitleExsists == true && submitedAddNewMenuItem">Menu title exsists.</p>            
            </div>  
            <div class="lists-menu-pup-buttons">
                <input type="submit" class="btn green" style="float:right" value="Add" ng-click="submitedAddNewMenuItem=true">        
                <input type="button" class="btn red cancle" value="Cancel">
            </div>
        </form>
    </div>
</div>