<header class="background-image1" id="mob-header">
    <div class="hero-text-box">
        <h1 class="header-title"><i class="fa fa-list-alt"></i> Listuin</h1>
        <h2>Free for commercial and personal use content.</h2>
        <ul class="social-networks">
            <li><a href="http://www.facebook.com/share.php?u=http://edincausevic.github.io/projects/listuin/index.php&title=Listuin:&nbsp;Home&nbsp;of&nbsp;designers."><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="http://twitter.com/intent/tweet?status=Listuin:&nbsp;Home&nbsp;of&nbsp;designers.+http://edincausevic.github.io/projects/listuin/index.php"><i class="fa fa-twitter-square"></i></a></li>
            <li><a href="https://plus.google.com/share?url=http://edincausevic.github.io/projects/listuin/index.php"><i class="fa fa-google-plus-square"></i></a></li>
            <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http://edincausevic.github.io/projects/listuin/index.php&title=Listuin:&nbsp;Home&nbsp;of&nbsp;designers.&source=http://edincausevic.github.io/"><i class="fa fa-linkedin-square"></i></a></li>
            <li><a href="http://www.reddit.com/submit?url=http://edincausevic.github.io/projects/listuin/index.php&title=Listuin:&nbsp;Home&nbsp;of&nbsp;designers."><i class="fa fa-reddit-square"></i></a></li>
            <li><a href="http://pinterest.com/pin/create/bookmarklet/?media=Resources&url=http://edincausevic.github.io/projects/listuin/index.php&is_video=false&description=Listuin:&nbsp;Home&nbsp;of&nbsp;designers."><i class="fa fa-pinterest-square"></i></a></li>
            <li><a href="http://www.tumblr.com/share?v=3&u=http://edincausevic.github.io/projects/listuin/index.php&t=Listuin:&nbsp;Home&nbsp;of&nbsp;designers."><i class="fa fa-tumblr-square"></i></a></li>
        </ul>
    </div>
</header>