<div class="bg-trans popup-container hide-popup" id="removeCodeMenuELModule">
    <div class="centar text-container" id="remove-list-question">
        <span class="message">Are you sure you want to remove {{removeMenuELName}}?</span>
        <div class="btns">
            <ul>
                <li>
                    <button class="btn green" ng-click="removeThisCodeMLEl()">Remove</button>
                </li>
                <li>
                    <button class="btn red cancle">Cancel</button>
                </li>
            </ul>
        </div>
    </div>
</div>