<div id="side-menu-links">
      <ul>
            <li><a href="https://unsplash.com/" target="_blank">Header Photos<i class="fa fa-link" aria-hidden="true"></i></a></li>
            <li><a href="https://randomuser.me/" target="_blank">Profile Photos<i class="fa fa-link" aria-hidden="true"></i></a></li>
            <li><a href="http://www.freesoundeffects.com/" target="_blank">Sound Effects<i class="fa fa-link" aria-hidden="true"></i></a></li>
            <li><a href="http://www.typegenius.com/" target="_blank">Pair Fonts<i class="fa fa-link" aria-hidden="true"></i></a></li>
            <li><a href="http://flatuicolors.com/" target="_blank">Flat Colors<i class="fa fa-link" aria-hidden="true"></i></a></li>
            <li><a href="http://fontawesome.io/icons/" target="_blank">Font Icons<i class="fa fa-link" aria-hidden="true"></i></a></li>
            <li><a href="http://patternico.com/#9gehNQ9T4dMpsU3r" target="_blank">Make Patterns<i class="fa fa-link" aria-hidden="true"></i></a></li>
            <li><a href="http://freepsd.co/download/category/websites/" target="_blank">Website PSDs<i class="fa fa-link" aria-hidden="true"></i></a></li>
            <li><a href="https://autoprefixer.github.io/" target="_blank">Autoprefix CSS<i class="fa fa-link" aria-hidden="true"></i></a></li>
            <li><a href="http://www.json-generator.com/" target="_blank">JSON Generator<i class="fa fa-link" aria-hidden="true"></i></a></li>
      </ul>
</div>