<div id="side-menu-links">
      <ul>
            <li><a href="#/free/photos-images">Photos</a></li>
            <li><a href="#/free/videos">Videos</a></li>
            <li><a href="#/free/audio-mp3-music">Audio &#38; Sounds</a></li>
            <li><a href="#/free/fonts">Fonts</a></li>
            <li><a href="#/free/icons">Icons</a></li>
            <li><a href="#/free/colors">Colors</a></li>
            <li><a href="#/free/patterns-textures">Patterns &#38; Textures</a></li>
            <li><a href="#/free/psd-websites-templates">PSD</a></li>
            <li><a href="#/free/design">Design</a></li>
            <li><a href="#/free/html">HTML</a></li>
            <li><a href="#/free/css-sass">CSS/SASS</a></li>
            <li><a href="#/free/js-javascript">Javascript</a></li>
            <li><a href="#/free/development">Development</a></li>
      </ul>
</div>